body {
  background-color: #212529;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* NAVBAR */
.navbar {
  margin: 10px;
  background-color: #6741d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  color: white;
  border-radius: 10px;
}
.navbar h2,
.navbar p,
.navbar b,
.navbar form {
  background-color: #6741d9;
}

.logo-section{
  overflow: hidden;
}

.logo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #6741d9;
  transform: translate(-20px);
}
.logo-flex:hover{
  transform: translate(0px);
  transition: .15s transform ease;
}

.logo-popcorn {
  font-size: 35px;
  margin: 0px;
}


.search-bar input {
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  border-style: none;
  background-color: #7950f2;
  color: white;
}
.search-bar input::placeholder {
  color: rgb(170, 167, 167);
}

.result {
  background-color: #6741d9;
}



/*  */
.Body {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.list-of-movies {
  background-color: #2b3035;
  width: 400px;
  height: 650px;
  overflow-y: scroll;
  padding-top: 10px;
  border-radius: 10px;
  position:relative;
}


.individual-film {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  border-bottom: 1px solid rgb(42, 41, 41);
}
.watched-flex-half{
  width:100%;
}
.watched-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watched-description button{
  border-radius: 50%;
  padding:1px;
  font-size: .8rem;
  height:1.3rem;
  aspect-ratio: 1/1;
  background-color: #fa5252;
  border-style: none;
}
.individual-film img {
  width: 45px;
}
.description-flex {
  display: flex;
  justify-content: space-between;
}

.detail-box {
  width: 400px;
  background-color: #2b3035;
  border-radius: 10px;
  height:660px;
  overflow-y: scroll;
}

.detail-box img {
  border-top-left-radius: 10px;
}

.detail-box{
  position:relative;
}

.detail-hide{
  position:absolute;
  top:10px;
  right: 10px;
  font-size: 1.4rem;
  font-weight:700;
  border-radius: 50%;
  border-style: none;
  height:25px;
  aspect-ratio: 1/1;
  color:white;
  background-color: #212529;
}
.detail-hide p{
  margin: 0;
}
.detail-heading {
  background-color: #343a40;
  display: flex;
  align-items: center;
  gap: 30px;
}

.detail-box-null {
  padding:5px 20px;
  background-color: #343a40;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, .2);
}
.detail-body {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.rating-box{
  background-color: #343a40;
  width:80%;
  height:fit-content;
  padding:20px 0px;
  display:flex;
  justify-content: center;
  border-radius: 10px;
}
.star-section {
  width: 100%;
  display: flex;
}
.star-rating {
  display: flex;
  gap: 10px;
}

.star {
  width: 25px;
}
.back-to-list{
  position:absolute;
  top: 5px;
  left: 2px;
  border-radius: 50%;
  padding:5px;
  border-style: none;
  font-size: 20px;
}
.add-to-detail-btn{
  margin-top: 20px;
  width:100%;
  color:white;
  background-color: #6741d9;
  border-style: none;
  padding:10px;
  border-radius: 20px;
}
