body{
    background-color: #212529;
    color:white;
}

.navbar{
    margin: 10px;
    background-color: #6741d9;;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 40px;
    color:white;
    border-radius: 10px;

}
.navbar h2,.navbar p,.navbar b,.navbar form {
    background-color: #6741d9;;
}
.popcorn{
    background-color: #6741d9;;
}

.logo-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    background-color: #6741d9;;
}
.result{
    background-color: #6741d9;;
}

.search-bar input{
    padding:15px;
    width:400px;
    border-radius: 10px;
    border-style: none;
    background-color: #7950f2;
    color:white;
}
.logo-popcorn{
    font-size: 35px;
    margin:0px;
}
.search-bar input::placeholder{
    color:rgb(170, 167, 167);
}

.Body{
    display:flex;
    gap:20px;
    justify-content: center;
}

.list-of-movies{
    background-color:#343a40;
    width:400px;
    height: 550px;
    overflow-y: scroll;
    padding-top:10px;
    border-top-left-radius: 10px;
}

.detail{
    width:350px;
    background-color: #343a40;
    padding:20px;
}
.individual-film{
    display:flex;
    gap:20px;
    align-items: center;
    padding:10px;
    padding-left: 20px;
    border-bottom:1px solid rgb(42, 41, 41);
}
.individual-film img{
    width:45px;
}
.description-flex{
    display:flex;
    justify-content: space-between;
}

.detail-box{
    width:400px;
    background-color: #343a40;
    border-top-left-radius: 10px;
}
.detail-box img{
    border-top-left-radius: 10px;
}

.detail-heading{
    display:flex;
    align-items: center;
    gap:30px
}
.detail-box-null{
    padding:20px;
}
.star{
    width:20px;
}